.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: var(--cardGap, 15px);
}

@media (max-width: 450px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
