body.secret .card.hidden {
  display: block;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 24px;
  background-color: rgba(230, 230, 240, 0.1);
  text-shadow: var(--shadow-light);
  border-radius: 30px;
  justify-content: center;
  transition: 0.25s ease;
  text-align: center;
  cursor: pointer;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  &:hover {
    background-color: rgba(250, 250, 255, 0.2);
  }

  &.hidden {
    display: none;
  }

  .open-icon {
    position: absolute;
    top: var(--object-padding);
    right: var(--object-padding);
    font-size: 40px;
    opacity: .5;
  }

  img {
    height: 250px;
    margin: 0 0 10px 0;
    object-fit: contain;
    border-radius: 10px;
    aspect-ratio: 1/1;

    &.shadow {
      box-shadow: var(--shadow-light);
    }
  }

  h2 {
    cursor: pointer;
    margin: 0;
    font-size: 28px;
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .card img {
    width: 100%;
    aspect-ratio: auto;
  }
}
