.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--cardGap, 15px);
}